.holidayHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.fa-plus {
    font-size: 30px;
}

.detailsButton {
    text-align: center;
    font-size: 1.5rem;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
}

.category {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: .2em solid #008891
}

.holidayCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin: 2rem 5rem 2rem 5rem; */
}

.holidayCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    /* height: 13rem;
    width: 25rem;
    border: .05em solid #008891 */
  }